body {
  font-size: 20px;
}

#header {
  text-align: center;
  background-color: #343a40;
  padding: 20px;
}

header > h1 {
  color: white;
}

aside {
  background-color: lightgray;
  float: left;
}

#main {
  float: right;
}

.card {
  padding-left: 20px;
}

h2 {
  display: block;
  width: 100%;
}

.card-body {
  background-color: lightgreen;
  margin: 8px;
}
